* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

select{
    appearance:none;
    height:20px;
    border:1px solid #e0e0e0;
    font-size:16px;
    padding:2px 10px;
    height:28px;
}

.container{
    width:100%;
    padding:0 20px;
}